
body{
	font-family: "Ariel", sans-serif;
	background-color: #FCA26E;
	color: #grey;
}
h1{
        background-color: BlanchedAlmond;
}
h2{
	color: #grey;
	background-color: BlanchedAlmond;
}
table{
	background-color: BlanchedAlmond;
}
